

.item-with-counter {
    display: block;
    position: relative;
}

.item-with-counter p {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;

    &.item-times {
        position: absolute;
        bottom: 5px;
        right: 0;
    }
    &.item-unknown {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translateX(50%) translateY(40%);

    }
}

.item-with-counter img {
    width: 2.5rem !important;
    height: 2.5rem !important;

    &.done {
        filter: grayscale(0) brightness(1) !important;
    }
    &.known {
        filter: grayscale(1) opacity(0.3) !important;
    }
    &.unknown {
        filter: grayscale(1) brightness(0) opacity(0.3) !important;
    }
}