
.stats-container{
    width: 100%;
    height: 100%; 
    margin-top: -13px;
    padding: 0; 
    border-image: url('../../Media/Windows/Window5.png') 16 16 16 16 fill stretch;
    border-style: solid;
    image-rendering: pixelated;
    border-width: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.achievement-container{
    width: 90%;
    min-height: 450px;
    height: auto;    
}

.skill-info{  
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}