
.stats-container{
    width: 100%;
    height: 100%; 
    margin-top: -13px;
    padding: 0; 
    border-image: url('../../Media/Windows/Window5.png') 16 16 16 16 fill stretch;
    border-style: solid;
    image-rendering: pixelated;
    border-width: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.achievement-container{
    width: 90%;
    min-height: 450px;
    height: auto;    
}

.skill-info{  
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

/*Portrait area*/
.character-area{
    width: 20%;
    height: 100%;
    min-height: 16rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-portrait {
    font-size: 2.25rem;
    width: 100%;
    min-height: 16rem;
    color:wheat; 
    padding: 0; 
    border-image: url('../../Media/Windows/Window5.png') 16 16 16 16 fill stretch;
    border-style: solid;
    image-rendering: pixelated;
    border-width: 35px;    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
