.section-achievements {
    display: flex;
    align-items:start;
    gap: 1rem;
    flex-wrap: wrap;
}

.dishes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.dish-item {
    display: block;
    position: relative;
}

.dish-item .times-cooked {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    bottom: 5px;
    right: 0;
}