:root {
  --global-base-font-size--mobile: calc(4.5vw);
  --global-base-font-size--tablet: calc(2.25vw);
  --global-base-font-size--desktop: calc(1.111vw);
  --global-base-font-size--desktop-xl: 16px;
}

/*Font Sizes
In case we want to use px, vw, em, ch or anything other than rem on the site we can comment this part out as this
is only setting the global base font size for the rem to work over.
*/
  html { font-size: var(--global-base-font-size--desktop); }
  @media screen and (min-width:1880px) { html { font-size: var(--global-base-font-size--desktop-xl) } }
  @media screen and (max-width:1880px) { html { font-size: var(--global-base-font-size--desktop) } }
  @media screen and (max-width:991px) { html { font-size: var(--global-base-font-size--tablet) } }
  @media screen and (max-width:479px) { html { font-size: var(--global-base-font-size--mobile) } }

html, body .root{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0; 
  font-family: roboto;
} 

html{
  background: url('./Media/backgrounds/bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

@font-face {
  font-family: pixelFont;
  src: url(./Media/fonts/rainyhearts.ttf);
}


* {
  margin: 0;
  padding: 0;
}

.App { 
  font-family: pixelFont;
  max-width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{    
  position: relative;
  width: 48rem;
  height: 6rem;
  margin: auto;
  margin-top: 0.75rem;
}

.title-background{
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
}

.title-label{    
  height: 90%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  color: wheat;
  align-items: center;
  justify-content: center;
} 

section.sv-container{
  height: 31.25rem !important;
  width: 5rem;
  max-width: 67.5rem !important;
  min-width: 80vw !important;
  min-height: 80vh !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  margin: auto !important;
  overflow: hidden;
}

.main-container{
  flex-grow: 1;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 68rem;
  margin: 1.5625rem auto;
}

/*Loader*/
.loader{
  position: absolute;
  margin-top: 1.5625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 999;
  color: white;
  display: none;
  transition: 400ms ease;
}
.loader-active{
  background: rgba(0, 0, 0, 0.75);
  display: flex;
}

.file-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.star{
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 100;
  width: 5rem;
  transform: rotate(-25deg);
}

/*Scrollbar*/
.scroller{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar{
    width: 0.25rem;
    height: 0.25rem;
  }

  .scroller::-webkit-scrollbar-track{
    background: #FFCA7A;
  }
  .scroller::-webkit-scrollbar-thumb{
    background: #CD760F ;
  }
/*Scrollbar*/

.file-instructions,
.file-drop{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.5625rem;
}
.instructions{
  font-size: 2.25rem;
  width: 98%;
  color:wheat;
  background: url('./Media/Windows/Window2.png') no-repeat center center; 
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop{ 
  width: 100% !important;
}

.filepath{
  width: 96%;
  padding: 2%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color:black;
  background: url('./Media/Windows/Window.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;

}
 
.dropbox {
  position: relative;
  width: 100%;
  min-height: 25rem;
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
  text-align: center;
  font-size: 2rem;
  background: url('./Media/Windows/Window3.png') no-repeat center center; 
  background-size: 100% 100%;
}
 
.dropbox input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  opacity: 0;
  cursor: pointer;
}

.red-hl{
  color: red;
}
 
.farmName{
  width: initial; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color:black;
  border-image: url('./Media/Windows/Window6.png') 20 21 20 20 fill stretch;
  border-style: solid;
  image-rendering: pixelated; 
  border-width: 0.625rem;
  padding: 0.9375rem 0;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.a-title{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}
.a-title-big{ 
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2rem;
  text-align: center;
}

.a-List{
  width: 100%;  
  font-size: 1.5rem; 
}
.a-List li{ 
  padding-left: 0.9375rem;
  list-style: none;
  font-size: 1rem; 
}  
.m-List{
  padding-top: 0.9375rem;
  width: 50%;  
  font-size: 1.5rem; 
}
.m-List li{ 
  padding-left: 0.9375rem;
  list-style: none;
  font-size: 1rem; 
  display: flex;
}  
.completed{
  color: green;
}  
.pending{
  color: red;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
}

/*Misc*/
.ropes{ 
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 6.25rem;
  margin-bottom: -4.375rem;
}

.done{
  filter: grayscale(0) brightness(1) !important;
}

.known{ 
  filter: grayscale(1) brightness(0.5) opacity(0.3) !important;
}

.title-center{
  width: 100%;
  text-align: center;
}

.food-container img{
  width: 2.5rem;
  cursor: help;
}

.goal-mg{
  width: 6.25rem;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.9375rem; 
}

/*Achievement containers*/
.progress-container{
  padding: 2.5%; 
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACOCAYAAADjLbccAAAAAXNSR0IArs4c6QAAAt1JREFUeJzt1jFq23cYx+FXsbwUQzs2FDzZmjv2BF1iTM8SyJIDdCn0MEZdchTJkyHYBzBZjFEnudCUdmk+AuV5JvH+NXynD7/Fdxc/ze7s+7l62uwG4AtYn64Wi8eHWe5jc315NzMzF6uTA08Djsnt5nlmO7v12Wrxah+bm+35oXcBR+hmez7Xl3dz9bTZLffH/QvndvN8sGHA8Xn75uPMnMxsZ16Cc7E6md//+OGAs4Bjs3/I7C3//offfv05GwMcr3fvP3x2+yw4MzOvX3/zxccAx+f+/tO/fn8V7QC+Av/1WBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCCz/Kfj/f2negfwFXgJzu3mea4v7+bd+w+H3AMcmdvN88vvl+DcbM/n+vJu3r75eJBRwPG53fzVlpmZxbc//jJXT5vd/gDwf7vZns/6dLVYLh4fZn22Wsx2doceBRyn9elqsXh8mD8BJHJTYOepXaYAAAAASUVORK5CYII=) 16 16 16 16 fill stretch;
  border-style: solid;
  image-rendering: pixelated;
  border-width: 2.1875rem;
  overflow: hidden;
}  
.progress-container-flex{
  padding: 2.5%; 
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACOCAYAAADjLbccAAAAAXNSR0IArs4c6QAAAt1JREFUeJzt1jFq23cYx+FXsbwUQzs2FDzZmjv2BF1iTM8SyJIDdCn0MEZdchTJkyHYBzBZjFEnudCUdmk+AuV5JvH+NXynD7/Fdxc/ze7s+7l62uwG4AtYn64Wi8eHWe5jc315NzMzF6uTA08Djsnt5nlmO7v12Wrxah+bm+35oXcBR+hmez7Xl3dz9bTZLffH/QvndvN8sGHA8Xn75uPMnMxsZ16Cc7E6md//+OGAs4Bjs3/I7C3//offfv05GwMcr3fvP3x2+yw4MzOvX3/zxccAx+f+/tO/fn8V7QC+Av/1WBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCAjOEBGcICM4AAZwQEyggNkBAfICA6QERwgIzhARnCAjOAAGcEBMoIDZAQHyAgOkBEcICM4QEZwgIzgABnBATKCA2QEB8gIDpARHCCz/Kfj/f2negfwFXgJzu3mea4v7+bd+w+H3AMcmdvN88vvl+DcbM/n+vJu3r75eJBRwPG53fzVlpmZxbc//jJXT5vd/gDwf7vZns/6dLVYLh4fZn22Wsx2doceBRyn9elqsXh8mD8BJHJTYOepXaYAAAAASUVORK5CYII=) 16 16 16 16 fill stretch;
  border-style: solid;
  image-rendering: pixelated;
  border-width: 2.1875rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} 

.progress-container img{ 
  padding: 0.3125rem;
  width: 2.1875rem;
  filter: grayscale(1) brightness(0);
  cursor: help;
}


.progress-container a{
  text-decoration: none;
  cursor: help;
}

.copyright{
  width: 90%;
  margin: auto;
  font-size: 1rem;
  color: #FFF;
  padding: 0.75rem;
  padding-bottom: 2rem;
  text-align: center;
}

.copyright a{
  text-decoration: underline;
  color: #f1a93c !important;
}

.adsbygoogle{
  display:block
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

/*Small Screens*/
@media only screen and (max-width: 800px){
  
.rotated { 
  margin: 0.3125rem 0;
  padding: 0.125rem; 
  font-size: 0.75rem;
  text-align: center; 
  font-weight: 600;
}

.media{
  height: 1.5rem; 
}

.main-media{ 
  width: 2.5rem;
  height: 60%;
}

.title h1,
  .filepath {
    font-size: 1rem;
  } 
}

.react-tabs__tab:focus:after {
  box-shadow: none;
  background: none;
}