/* SkillContainer Component Styles */

:root {
    --active-box-shadow:
        inset 2px -2px 2px rgba(0, 0, 0, 0.5),
        inset -2px 2px 2px rgba(250, 240, 224, 0.5),
        -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.skill-container {
    position: relative;
    width: 48rem;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.skill-container__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.skill-container__title {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0.25rem;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: -15%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-image: url(/src/Media/Windows/Window5.png) 5 fill stretch;
    border-width: 6px;
    border-style: solid;
    image-rendering: pixelated;
}

.skill-container__stats {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    font-size: 1.25em;
    width: 100%;
    height: 80%;
    line-height: 1.5em;
    text-align: center;
}

.skill-container__icon {
    width: 2rem;
    height: 2rem;
    cursor: help;
}

.skill-container__icon:hover {
    transform: scale(1.1);
}

.skill-container__level-indicators {
    display: flex;
    gap: 0.5rem;
}

.skill-container__level-block {
    border-radius: 0.25rem;
    overflow: hidden;
    height: 1.25rem;
    border: 0.125rem solid #C88D36;
    background-color: #C87D1B;
    box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.5),
    -2px 2px 2px rgba(0, 0, 0, 0.5); 
}

.skill-container__level-block.sm {
    width: 1.5rem;
    &.active {
        background-color: #DF003B;
        box-shadow: var(--active-box-shadow);
    }
}

.skill-container__level-block.lg {
    width: 3rem;
    &.active {
        background-color: #FFA301;
        box-shadow: var(--active-box-shadow);
    }
}

.skill-container__level-no {
    width: 2ch;
    font-weight: 600;
    font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .skill-container {
        width: 45%;
        height: 200px;
        margin: 2%;
    }
    
    .skill-container__title {
        font-size: 1.2em;
    }
    
    .skill-container__stats {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .skill-container {
        width: 90%;
        height: 180px;
        margin: 5% auto;
    }
    
    .skill-container__title {
        font-size: 1em;
    }
    
    .skill-container__stats {
        font-size: 0.9em;
    }
    
    .skill-container__icon {
        width: 30px;
        height: 30px;
        bottom: 10px;
        left: 15px;
    }
}
